@import 'header.css';
@import 'banner.css';
@import 'footer.css';

/*Estilos body*/
body {
    margin: 10px;
}

.lista-productos{
    display: flex;
    justify-content: space-around;
}

.lista-carrito{
    display: flex;
    flex-direction: column;
}

.contener-producto-carrito{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}

.body{
    background-color: #6EA4E6;
}

.contenedor-productos{
    display: flex;
}

.producto{
    padding: 10px;
}